@{
    ViewData["Title"] = "The World of Warplanes Hangar of Brian Henderson";
}

<div class="text-center">
    
    <h1 class="display-4">A Little Bit About the Game and Myself</h1>
    
    <p>A company based in St. Petersburg, Russia called <a href="http://wargaming.net">Wargaming</a> has, throughout the 2010s, created three online games
    revolving around land, sea, and air combat in World War 2.  World of Tanks is a tank vs. tank shooter, World of Warships features naval combat for control
    of capture zones, and World of Warplanes, the subject of <u>this</u> project, features aerial duels for control of scattered objectives.  All three games feature
    tiered progression, and you only start out with so much space for your vehicles, but you can earn more space through regular gameplay.</p>
    
    <p>
    I have played both World of Warships (Wargaming's "flagship" product, pun intendeed) and World of Warplanes, but have gone on hiatus from the former.
    With any Wargaming product, one account gets you access to all three of their online offerings.  Mine just happens to be <u>BRailfanH</u>.  One caveat:
    because Wargaming is based in Russia, there have been accusations of "Russian bias," most notably in World of Warships, when it comes to the performance
    of the in-game vehicles and the effects on gameplay.</p>
    
    <p>
    The information presented herein is accurate as of 23:59 hours (that's 11:59 pm for those who don't follow Military or European time) on October 7, 2020.  I may or may not
    update the information as I research and subsequently purchase new planes and sell off old planes.  This researching through playing and gaining experience points is part and parcel 
    of the tiered progression system.</p>
</div>
