<h1 class="display-4">Where Are They Now?</h1>
<p>
    By now you're wondering "Where can I see these exact same kinds of planes that you play online, and more?"  Well, I've got you covered.

    If you're visiting Washington, DC, check out the <a href="https://airandspace.si.edu/">Smithsonian Air and Space Museum</a>.  There's an entire section dedicated to
    World War II, including the early jet fighters.  There's also a section about the evolution of aircraft carrier operations.  Like all Smithsonian museums in DC, it's free.
</p>
<p>

    Opened in 2012 and located in Colorado Springs, Colorado is the <a href="https://www.worldwariiaviation.org/">World War II Aviation Museum</a>.  It's right next door to the Colorado Springs 
    airport, and once there you'll find all sorts of aircraft from the war, and you can even check out restoration works in progress if you'd like!  That part's included in your ticket, but you'll
    have to be escorted by a guide while in the restoration shop.  Prepayment saves you $1-$2 off the at-door ticket price.
    <a href="https://www.google.com/maps/place/775+Aviation+Way,+Colorado+Springs,+CO+80916/38.8205446,-104.7235956,15z/data=!4m5!3m4!1s0x871346e97a3433cb:0xa431ca418f51a428!8m2!3d38.8205669!4d-104.7223619">
    Here's an overhead view of the place:</a>
</p>
<p>
    Then there's the <a href="https://www.nationalmuseum.af.mil/">Museum of the Air Force</a> in Dayton, Ohio that has a section dedicated to World War 2.  Located on the grounds of
    the <a href="https://www.google.com/maps/place/1100+Spaatz+St,+Riverside,+OH+45431/39.8104932,-84.0666181,13z/data=!4m5!3m4!1s0x88409d95df9d382d:0xca21ecf9fd9925ca!8m2!3d39.8185883!4d-84.0484601">
    Wright-Patterson Air Force Base</a>, this particualr gallery features aircraft from several nations including the US, UK, Japan, Germany, and more.  There's even sections focusing on different points
    of the war.
</p>
<p>
    That's just a sample of what we have available here in the U.S. of A.  There are a few museums around the world dedicated to this kind of stuff, and once Americans can travel internationally again,
    here's just a sample of where you might like to visit.  In England, there are not one, not two, but three <a href="https://www.iwm.org.uk/">Imperial War Museums</a>.  There are the London, Duxford, and
    Manchester locations that chart the course of Britain's involvement in modern conflicts.  Regardless of which campus you visit, there's bound to be an exhibit concerning World War II.  And did I mention
    there's also <a href="https://www.google.com/maps/place/Churchill+War+Rooms/51.502159,-0.129357,17z/data=!4m5!3m4!1s0x0:0xcd8d10d8b2cf95e4!8m2!3d51.5021585!4d-0.1293572?hl=en-US">Churchill's underground 
    war room</a>?
</p>
<p>
    Back on our side of the pond is an event, held every five years, where you can see these planes in action!  Called the <a href="https://ww2flyover.org/">Arsenal of Democracy Flyover</a>, this event
    features actually flying formations of real WW2 aircraft flying a pre-determined route over the National Mall in Washington, DC.  Unfortuantely, inclement weather cancelled this flyover, both on the 
    originally scheduled date of Friday, September 25 and Saturday, September 26.  But what's interesting is that the participants stage some of their formations at Manassas Regional Airport, near where I live.
</p>